---
const props = Astro.props;

// strong typing recommended
interface Props {
    type: string;
    reference: string;
}
const { type, reference } = Astro.props;

const titles: { [key: string]: any } = {
    overview: "Overview",
    excerpt: "Excerpt",
    newmaterial: "New Material",
    newmaterialsingle: "",
    quote: "Quote",
};
import Icon from "@/components/Icon.astro";
---

<div class="not-content callout-intro">
    <Icon {type}>
        <!-- inject html -->
        <Fragment set:html={titles[type]} /> 
    </Icon>

    {reference && reference}

    <div class="bodytext">
        <slot />
    </div>
</div>

<style>
    .bodytext {
        margin-top: 0.3rem;
    }
</style>
