---
const props = Astro.props;

// strong typing recommended
interface Props {
    type: string;
    reference: string;
    oneline: boolean;
}
const { type, reference, oneline=true } = Astro.props;

const titles: { [key: string]: any } = {
    overview: "Overview",
    excerpt: "Excerpt",
    newmaterial: "New Material",
    newmaterialsingle: "",
    quote: "Quote",
    homework: "Homework",
    discussion: "Discussion",
    tech: "",
    inclass: "In-class",
    info: "",
};
import Icon from "@/components/Icon.astro";
---

<div class="not-content callout-intro">
    <Icon {type} color="black" weight="600">
        <!-- inject html -->
        <Fragment set:html={titles[type]} />
    </Icon>

    {reference && reference}

    <!-- NO REFERENCE = ONE LINE -->
    {
        oneline ? (
            <span class="componenttext">
                <slot />
            </span>
        ) : (
            <div class="componenttext">
                <slot />
            </div>
        )
    }
</div>

<style>
    .componenttext {
        margin-top: 0.3rem;
    }
</style>
